<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @inquiry.title %>
</p>

<p>
  <b>Description:</b>
  <%= @inquiry.description %>
</p>


<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Back', inquiries_path %>
